target/
project/*
!project/.gitignore
!project/build.properties
!project/plugins.sbt
*.swp
*~
.addons-dont-touch
/lib/
ControlPlanes.v

# ignore intellij idea projects under src/main/scala
src/main/scala/.idea/
src/main/scala/build.sbt
src/main/scala/project/

.idea/
boom-ether.err
bootrom/bootrom.txt
emulator/boom-failed.md
emulator/log.txt
emulator/serial6*
fpga/.Xil/
fpga/bbl.elf.txt
fpga/vivado_*.str
fpga/vmlinux.txt

.vscode
.metals
.bloop
.scalafmt.conf